USE [master]
GO
/****** Object:  Database [PolyOE1]    Script Date: 3/26/2024 9:35:30 AM ******/
CREATE DATABASE [PolyOE1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PolyOE1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PolyOE1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PolyOE1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PolyOE1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyOE1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyOE1]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 3/26/2024 9:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VideoId] [char](11) NOT NULL,
	[UserId] [nvarchar](20) NOT NULL,
	[LikeDate] [date] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 3/26/2024 9:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[groupp] [varbinary](255) NOT NULL,
	[likes] [bigint] NULL,
	[newest] [datetime2](7) NULL,
	[oldest] [datetime2](7) NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/26/2024 9:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 3/26/2024 9:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [char](11) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Poster] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[Views] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (2, N'vd001      ', N'nv002', CAST(N'2023-03-10' AS Date))
INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (4, N'vd002      ', N'nv003', CAST(N'2023-03-01' AS Date))
INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (5, N'vd002      ', N'nv004', CAST(N'2023-03-11' AS Date))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'NV001', N'1234', N'LÊ ANH TÚ', N'TULA12@FE', 1)
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'NV002', N'123', N'ANH TÚ ĐẸP TRAI', N'TUDEPTRAI@GMAIL.COM', 1)
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'NV003', N'321', N'Nguyễn Nhật Cao Thăng', N'thangncc@fpt.edu.vn', 0)
GO
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views], [Category]) VALUES (N'vd001      ', N'W/n - 3107 3 ( Official Video ) ft. Nâu, Duongg, Titie', N'kfw7MYah2n0', N'Sáng tác & Music Producer : W/n 
Rap : Nâu
Executive Supervisor: Hai Dang
Partnership Manager : Tam Meo
Social network advisor : Tu Anh
Art Director: Vo Van Hieu
Stylist: Nguyen Quoc Ky
Hair Stylist: Nguyen Quoc Ky
Wardrobe: ZUNE.ZX', 1, 100, N'music')
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views], [Category]) VALUES (N'vd002      ', N'QUÂN A.P - BÔNG HOA ĐẸP NHẤT [OFFICIAL LYRICS VIDEO]', N'e2Xx7WcvEns', N'BÔNG HOA ĐẸP NHẤT 

Singer: Quân A.P
Composer: Vũ Hà Anh – Phan Viết Tính – Nguyễn Văn Trung', 1, 100, N'music')
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views], [Category]) VALUES (N'vd003      ', N'Ánh Sao Và Bầu Trời - T.R.I x Cá | [Official Audio]', N'9vaLkYElidg', N'Performer: T.R.I
Music Producer: T.R.I 
Composer: Cá (B3212)
Video by Van Duc ', 1, 100, N'music')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgf9divd5g3854c9ol2cmknokg]    Script Date: 3/26/2024 9:35:30 AM ******/
ALTER TABLE [dbo].[Favorites] ADD  CONSTRAINT [UKgf9divd5g3854c9ol2cmknokg] UNIQUE NONCLUSTERED 
(
	[VideoId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Favorite__6B9D9EAF14FFF063]    Script Date: 3/26/2024 9:35:30 AM ******/
ALTER TABLE [dbo].[Favorites] ADD UNIQUE NONCLUSTERED 
(
	[VideoId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Favorite__6B9D9EAF53D8FA50]    Script Date: 3/26/2024 9:35:30 AM ******/
ALTER TABLE [dbo].[Favorites] ADD UNIQUE NONCLUSTERED 
(
	[VideoId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FKd43ytphbfe6w8hcix8bbtf9ae] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FKd43ytphbfe6w8hcix8bbtf9ae]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FKehf8ud1crmnkemdytnemniddp] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FKehf8ud1crmnkemdytnemniddp]
GO
/****** Object:  StoredProcedure [dbo].[spFavoriteByYear]    Script Date: 3/26/2024 9:35:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spFavoriteByYear](@year int)
as
begin 
	select
		v.Title as 'groupp',
		count(f.Id) as 'likes',
		max(f.LikeDate) as 'newest',
		min(f.LikeDate) as 'oldest'
	from Favorites f inner join Videos v
	on f.VideoId = v.Id
	where YEAR(f.LikeDate) = @year
	group by v.Title
end
GO
USE [master]
GO
